certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
Deprecated==1.2.18
dotenv==0.9.9
idna==3.10
lxml==5.4.0
packaging==25.0
pdfminer.six==20250416
pikepdf==9.7.0
pillow==11.2.1
pycparser==2.22
pycryptodome==3.22.0
python-dotenv==1.1.0
requests==2.32.3
tqdm==4.67.1
urllib3==2.4.0
wrapt==1.17.2
